@tailwind components;

.hide{
  display: none !important;
}

@layer components {
  .btn-first {
    @apply bg-blue-600 text-gray-100 p-3 text-xl rounded
    hover:bg-blue-500 transform transition-all text-center
    active:translate-y-0.5 active:bg-gray-400 m-1;
  }
  .btn-second {
    @apply bg-green-600 text-gray-100 p-3 text-xl rounded
    hover:bg-green-500 transform transition-all text-center
    active:translate-y-0.5 active:bg-gray-400 m-1;
  }
  .btn-tertiary {
    @apply bg-gray-600 text-gray-100 p-3 text-xl rounded
    hover:bg-gray-500 transform transition-all text-center
    active:translate-y-0.5 active:bg-gray-400 m-1;
  }
  .btn-tertiary-no-hover {
    @apply bg-gray-800 text-gray-100 p-3 text-xl
    rounded transform transition-all text-center
    active:translate-y-0.5 m-1;
  }
  .menu-btn{
    @apply bg-gray-700 text-gray-100 text-xl rounded
    hover:border-blue-500 border-b-8 active:translate-y-0.5
    transform transition-all w-full border-gray-100 p-2
    text-center m-1 active:border-blue-700;
  }
  .menu-btn-selected{
    @apply bg-gray-600 text-gray-100 text-xl rounded
    hover:border-blue-500 border-b-8 active:translate-y-0.5
    transform transition-all w-full border-blue-600 p-2
    text-center m-1 active:border-blue-700;
  }
  .section {
    @apply top-0 flex flex-wrap sm:flex-nowrap text-white
    w-full bg-gray-900 m-auto p-2 shadow-xl
    text-center;
  }
  .section-menu-bg {
    @apply top-0 text-white m-auto flex justify-center
    w-full bg-gray-900 p-2 shadow-2xl
    text-center whitespace-nowrap;
  }
  .section-menu-btn {
    @apply flex flex-wrap sm:flex-nowrap w-full justify-center;
  }
  .section-flex {
    @apply top-0 flex flex-col text-center shadow-xl
    w-full bg-gray-900 m-auto p-2 text-white;
  }
  .section-b {
    @apply bottom-0 flex flex-col flex-wrap sm:flex-nowrap text-white
    w-full bg-gray-900 m-auto p-2 shadow-xl
    text-center justify-center;
  }
  .active{
    @apply border-blue-600;
  }
  h1{
    @apply text-6xl;
  }
  h3{
    @apply text-3xl mb-1 font-semibold;
  }
}

@media (min-width: 1024px) {
  .section-menu-btn {
    width: 50rem
  }
}

::selection{
  background-color: #141414;
  color: white;
}

hr{
  width: 90%;
  margin: auto;
  border-radius: 9999px;
  height: 0.4rem;
  margin-top: 1rem;
  background-color: gray;
}

.pure-button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.pure-button-group {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}
.opera-only :-o-prefocus,
.pure-button-group {
  word-spacing: -0.43em;
}
.pure-button-group .pure-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}
.pure-button-hover,
.pure-button:focus,
.pure-button:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(40%, rgba(0, 0, 0, 0.05)),
    to(rgba(0, 0, 0, 0.1))
  );
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
}
.pure-button:focus {
  outline: 0;
}
.pure-button-active,
.pure-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}
.pure-button-disabled,
.pure-button-disabled:active,
.pure-button-disabled:focus,
.pure-button-disabled:hover,
.pure-button[disabled] {
  border: none;
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}
.pure-button-hidden {
  display: none;
}
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}
.pure-button-group .pure-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}
